body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#main {
  height: 100vh;
  display: block;
}

section {
  display: inline-block;
  margin: 50px; /* Adjust the margin as needed */
  text-align: left;
}

label{
  display: block;
  margin: 10px 0px;
}

